<ion-header>

  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons  end >
      <button ion-button icon-only (click)="promptLogout()">
          <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-fab bottom right>
        <button ion-fab color="danger" (click)="takePhoto()"><ion-icon name="camera"></ion-icon></button>
      </ion-fab>
    <ion-segment [(ngModel)]="category">
        <ion-segment-button value="recent" (click)="getPhotos(1)">
          RECENT
        </ion-segment-button>
              <ion-segment-button value="score" (click)="getPhotos(2)">
          SCORE 
        </ion-segment-button>
        <ion-segment-button value="offline">
          OFFLINE PHOTOS 
        </ion-segment-button>
      </ion-segment>
      <ion-list *ngIf="category=='recent'||category=='score'">
  <ion-card  *ngFor="let p of photos$ | async">
    
    <ion-item color="secondary">
      <h2 style="color:#fff"><b>{{p.caption}}</b></h2>
      <p>{{p.location}} </p>
      <p>Posted by {{p.username}} </p>
    </ion-item>
  
    <img src="assets/imgs/welcome.png" (click)="viewPhoto(p)">
      <button ion-button item-right  small color="primary" class="vote-button" (click)="votePhoto(p,-1)">
         <ion-icon name="thumbs-down"></ion-icon> <span class="vote-count">{{p.vote_down}}</span>
      </button>
      <button ion-button item-right  small color="primary" class="vote-button" (click)="votePhoto(p,1)">
         <ion-icon name="thumbs-up"></ion-icon> <span class="vote-count">{{p.vote_up}}</span>
      </button>
    <ion-card-content>
      <p>{{p.description}}</p>
    </ion-card-content>
  
    <ion-row >
      <ion-col >
        <button ion-button icon-left  small color="primary">
          <ion-icon name="eye"></ion-icon>
          <div>{{p.views}} Views</div>
        </button>
        <button ion-button icon-left  small color="secondary">
          <ion-icon name="flash"></ion-icon>
          <div>{{p.vote_score | number : '1.2-2' }} Vote Score</div>
        </button>
      </ion-col>
      
      <ion-col center text-center>
        <ion-note>
          {{p.time_taken}}
        </ion-note>
      </ion-col>
    </ion-row>
  
  </ion-card>
  </ion-list>
  <ion-list *ngIf="category=='offline'">
  <ion-card  *ngFor="let p of offline_photos">
    <ion-item color="secondary">
      <h2 style="color:#fff"><b>{{p.name}}</b></h2>
      <p>Quantity - {{p.quantity}} </p>
    </ion-item>
  
    <img src="assets/imgs/welcome.png" (click)="viewPhoto(p)" >
      <button ion-button item-right  small color="primary" style="margin-top:-30px; float:right;">
        <ion-icon name="thumbs-down"></ion-icon>
      </button>
      <button ion-button item-right  small color="primary" style="margin-top:-30px; float:right;">
        <ion-icon name="thumbs-up"></ion-icon>
      </button>
    <ion-card-content>
      <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
    </ion-card-content>
  
    <ion-row >
      <ion-col >
        <button *ngIf="p.upload_status==0" ion-button icon-left  small color="secondary" (click)="uploadPhoto(p)">
          <ion-icon name="cloud-upload"></ion-icon>
          <div>UPLOAD</div>
        </button>
        <button *ngIf="p.upload_status==1" ion-button icon-left  small color="light">
          <div>UPLOADED</div>
        </button>
        <button *ngIf="p.upload_status==2" ion-button icon-left  small color="light">
            <ion-spinner name="bubbles"></ion-spinner>
          <div>UPLOADING</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          {{p.timestamp | date:'medium'}}
        </ion-note>
      </ion-col>
    </ion-row>
  
  </ion-card>
  </ion-list>
</ion-content>
