page-photo-detail {
    .card-md {
        margin: 0px;
        border-radius: 0px;
        width: 100% ;
        border-bottom: 5px solid color($colors,primary);
            }

            .row {
                background: #ccc;
            }
            .card .note-md {
                font-size: 1.3rem;
                color:#000;
            }
}
